<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Enter Your Photo Details</h1>
  <%= simple_form_for @photo do |f| %>
     <%= f.input :caption %>
     <%= f.input :picture %>
    <br />
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
  <% end %>
</div>